/* Global config */
@import "config/variables";
// Your custom variables
@import "config/colors";
// Your custom color scheme
@import "config/settings";
// Default settings file. Uncomment each setting you need to change
/* Foundation 5 */
@import "foundation";
// Foundation 5 by Zurb
/* Site structure */
@import "site/structure";
// Your site structure

article {
	&.category-design {
		> h3.category {
			background-color: $design;
		}
		.entry-content {
			h3.category {
				a {
					color: $design;
				}
			}
		}
	}
	&.category-culture {
		> h3.category {
			background-color: $culture;
		}
		.entry-content {
			h3.category {
				a {
					color: $culture;
				}
			}
		}
	}
	&.category-people {
		> h3.category {
			background-color: $people;
		}
		.entry-content {
			h3.category {
				a {
					color: $people;
				}
			}
		}
	}
	&.category-architecture {
		> h3.category {
			background-color: $architecture;
		}
		.entry-content {
			h3.category {
				a {
					color: $architecture;
				}
			}
		}
	}
}

@media #{$small-only} {
	/* Define mobile styles here */
	article {
		&.category-design {
			> h3.category {
				color: $design;
			}
			.entry-content {
				h3.category {
					a {
						color: $design;
					}
				}
			}
		}
		&.category-culture {
			> h3.category {
				background-color: $culture;
			}
			.entry-content {
				h3.category {
					a {
						color: $culture;
					}
				}
			}
		}
		&.category-people {
			> h3.category {
				background-color: $people;
			}
			.entry-content {
				h3.category {
					a {
						color: $people;
					}
				}
			}
		}
		&.category-architecture {
			> h3.category {
				background-color: $architecture;
			}
			.entry-content {
				h3.category {
					a {
						color: $architecture;
					}
				}
			}
		}

	}
}