/**
 * Table of Contents for FoundationPress:
 *
 * 1.0 - Typography
 * 2.0 - Header, sidebar and footer
 * 3.0 - Content
 *	3.1 - Pages
 *	3.2 - Posts
 *	3.3	- Widgets
 *	3.4 - Comments
  *	3.5 - Lists
  * 3.6 - Forms
 * 4.0 - Plugins

 * ----------------------------------------------------------------------------
 */

/**
 * 1.0 Typography
 * ----------------------------------------------------------------------------
 */

[class^="icon-"], [class*=" icon-"] {
	text-align: center;
}

button,.button,input[type=submit] {
	text-transform: uppercase;
	text-align: center;
	padding: rem-calc(9 0);
}


h5 {
	text-transform: uppercase;
	font-size: rem-calc(15);
}

h3 {
	text-transform: uppercase;
	font-size: rem-calc(15);
	font-family: $ng-bold;
}


/**
 * 2.0 Header, sidebar and footer
 * ----------------------------------------------------------------------------
 */

header[role=banner] {
	margin-bottom: rem-calc(60px);
	#logo {
		img {
			width: rem-calc(135px);
			height: auto;
			margin-right: rem-calc(10px);
		}
	}
	.subheader {
		font-size: rem-calc(15px);
		color: $primary-color;
		line-height: 1em;
	}
	h2 {
		font-family: NewsGothicBT-Bold;
		text-transform: uppercase;
		margin-top: rem-calc(20px);
	}
	#desktop-menu {
		margin-top: rem-calc(58px);
		li {
			padding-bottom: 3px;
			a {
				color: $dark-grey;
				font-family: NewsGothicBT-Bold;
				font-size: rem-calc(18px);
			}
			&.current-menu-item, &:hover {
				border-bottom: 3px solid $dark-grey;
				padding-bottom: 0;
			}
		}
	}
	#desktop-search {
		margin-top: rem-calc(58px);
	}

	.tab-bar {
		right: 25px;
	}

	#shop-dwr {
		background-color: $primary-color;
		font-family: NewsGothicBT-Bold;
		text-transform: uppercase;
		padding: rem-calc(8px 12px);
		font-size: rem-calc(12px);
		line-height: 1em;
		margin: 0;
	}
}

#searchform {
	input {
		display: inline-block;
		width: rem-calc(16px);
		height: rem-calc(24px);
		box-shadow: none;
		padding: rem-calc(7px 0 6px 24px);
		background: url('../assets/img/icons/icon-search.png') no-repeat 4px;
		background-size: rem-calc(16px 16px);
		background-color: #FFF;
		position: absolute;
		cursor: pointer;
		right: rem-calc(15);
		outline: none;
		border: none;
		font-size: rem-calc(11px);
		line-height: normal;
		-webkit-transition: 0.4s ease-in-out all;
		-moz-transition: 0.4s ease-in-out all;
		-ms-transition: 0.4s ease-in-out all;
		-o-transition: 0.4s ease-in-out all;
		transition: 0.4s ease-in-out all;
	}
	input:focus {
		width: rem-calc(182px);
		background-color: $secondary-color;
		cursor: auto;
	}
}

aside.right-off-canvas-menu {
	#searchform {
		padding: 10px;
		input[type=text] {
			color: $body-font-color;
			font-size: rem-calc(14px);
			display: block;
			width: 11rem;
			height: auto;
			box-shadow: none;
			position: static;
			padding: 0.375rem rem-calc(14px) 0.375rem 1.5rem;
			background: url('../assets/img/icons/icon-search.png') no-repeat center right;
			background-size: .7rem .7rem;
			background-color: transparent;
			-webkit-transition: none;
			-moz-transition: none;
			-ms-transition: none;
			-o-transition: none;
			transition: none;
			border-bottom: 2px solid #777;
			text-align: right;
			background-position: center right;
		}
	}
	ul {
		&.off-canvas-list {
			&.secondary {
				li {
					font-size: rem-calc(16px);
					font-family: NewsGothicBT-Roman;
				}
			}
			li {
				font-size: rem-calc(22px);
				font-family: NewsGothicBT-Bold;
				&:not(.divider) {
					padding: rem-calc(8 15, 15);
					a:hover {
						background: transparent
					}
					&.social {
						ul {
							margin: 0;
							padding: 0;
							li {
								padding: 0;
								margin: 0 .6rem 0 0;
							}
						}
					}
				}
			}
		}
	}
}

footer {
	h5 {
		font-size: rem-calc(18px);
		font-family: $ng-bold;
	}
	.social {
		ul {
			font-size: rem-calc(22px);
			color: $light-grey;
			li {
				padding: rem-calc(5);
				margin: 0;
			}
		}
	}
}

.copyright {
	font-size: 12px;
	color: $light-grey;
	a {
		color: $light-grey;
	}
}

aside#sidebar {
	border-left: 3px solid $light-grey;
	margin-top: rem-calc(35px);
	padding-left: rem-calc(25px);
	.widget_recent_entries {
		h6 {
			text-transform: uppercase;
			font-family: $ng-bold;
		}
		ol {
			list-style-position: inside;
			margin-left: 0px;
			list-style-type: none;
			counter-reset: ol-counter;
			li {
				border-top: 1px solid $light-grey;
				padding: 10px 0;
				&:first-child {
					border-top: none;
				}
				&:before {
					content: counter(ol-counter) ".";
					counter-increment: ol-counter;
					font-family: $ng-bold;
				}
			}
		}
	}
}

@media #{$small-only} {
	/* Define mobile styles here */
	#logo {
		margin-left: 25px;
		margin-top: 25px;
	}
	div[role=main] {
		p.thumbnail {
			margin-left: -0.9375rem;
			margin-right: -0.9375rem;
			text-align: center;
			img {
				width: 100%;
			}
		}
	}
}




/**
 * 3.0 Content
 * ----------------------------------------------------------------------------
 */

#post-nav {
	margin: 40px 0;
	ul.pagination {
		font-family: $ng-demi;
		color: #999;
		li {
			font-size: rem-calc(20px);
			&.current {
				a {
					color: #000;
					background-color: transparent;
				}
			}
		}
	}
}


/**
 * 3.1 Pages
 * ------------------------------------
 */

// Insert styles here


/**
 * 3.2 Posts
 * ------------------------------------
 */

body.home, body.archive, body.author {
	.post-list {
		@media #{$small-only} {
			margin: 0;
		}
	}
	article {
		.featured-story {
			font-family: $ng-bold;
			text-transform: uppercase;
			color: $body-font-color;
			font-size: rem-calc(15px);
		}
		h2 {
			font-size: rem-calc(24px);
		}
		h3.category {
			text-transform: uppercase;
			font-family: $ng-bold;
			font-size: rem-calc(15px);
		}
		p {
			font-size: rem-calc(15px);
		}
		.more-link {
			text-transform: uppercase;
			font-family: $ng-bold;
			color: $dark-grey;
		}
		> h3.category {
			margin-bottom: rem-calc(2px);
			padding: rem-calc(15px 10px);
			line-height: rem-calc(11px);
			a {
				color: #FFF;
				font-size: rem-calc(15px);

			}
		}
	}
}

body.author {
	header {
		&.author {
			@media #{$small-only} {
				margin: 0;
				.author-avatar, .author-bio {
					float: left;
					padding-right: rem-calc(15);
				}
			}
		}
	}
}

body.single {
	article {
		margin-top: rem-calc(40px);
		header {
			&.row.collapse {
				margin-bottom: rem-calc(50);
			}
			.entry-meta {
				text-align: right;
				p {
					&.category {
						text-transform: uppercase;
						font-family: $ng-bold;
						margin-bottom: rem-calc(30);
					}
					&.author {
						margin-bottom: 0px;
					}
				}
				time {
					display: block;
				}
				@media #{$small-only} {
					p.category {
						text-align: left;
					}
				}
				@media #{$medium-up} {
					float: right;
				}
			}
		}
		.entry-content {
			margin-bottom: rem-calc(40);
			p {
				@media #{$medium-up} {
					width: grid-calc(9,12);
				}
			}
			figure {
				max-width: rem-calc(702px);
				width: auto !important;
				margin: 0;
				margin-bottom: rem-calc(40);
				figcaption {
					font-size: rem-calc(12);
					color: #999999;
					margin: rem-calc(10px 0);
				}
			}
			@media #{$small-only} {
				padding: rem-calc(0);
			}
		}
		footer {
			h3 {
				font-family: $ng-bold;
				text-transform: uppercase;
				font-size: rem-calc(18px);

			}
			h4 {
				font-family: $ng-bold;
				font-size: rem-calc(15px);
				margin-bottom: 0;
			}
			p {
				font-size: rem-calc(15px);
				color: $dark-grey;
			}
			.tags {
				margin: rem-calc(40 0);
				font-family: $ng-bold;
				font-size: rem-calc(15);
				color: $dark-grey;
			}
			#related-stories {
				p {
					font-size: rem-calc(18px);
					margin-top: 15px;
				}
			}
		}
	}
	#share-side {
		ul {
			padding-top: 45px;
			li {
				display: block;
				padding: 10px 0;
				margin: 0;
				float: none;
				font-size: rem-calc(24);
				a {
					text-align: left;
				}
			}
		}
	}
	.prev-next {
		h5 {
			font-family: $ng-bold;
		}
		a, h5 {
			color: inherit;
		}
		hr {
			margin: rem-calc(40px 0);
		}
		.left {
			color: #999;
			position: relative;
			padding-left: 18px;
			text-align: left;
			&:before {
				position: absolute;
				left: 0;
				top: 7px;
			}
		}
		.right {
			color: $dark-grey;
			position: relative;
			padding-right: 18px;
			text-align: right;
			&:before {
				position: absolute;
				right: 0;
				top: 7px;
			}
		}
	}
}


/**
 * 3.3 Widgets
 * ------------------------------------
 */


.social-feeds {
	margin-bottom: 75px;
	hr {
		margin-bottom: 35px;
		&:before {
			position: absolute;
			background-color: #FFF;
			top: 7px;
			font-size: 25px;
			left: 50%;
			margin-left: -22.5px;
			line-height: 7px;
			display: block;
			height: auto;
			width: auto;
			padding: 10px;
			text-align: center;
		}
	}
	.AlpinePhotoTiles_parent_class {
		.AlpinePhotoTiles_cascade_column {
			width: rem-calc(153) !important;
			margin-right: 22px !important;
			&:nth-child(3){
				margin-right: 0 !important;
			}
			.AlpinePhotoTiles_cascade_column_inner {
				margin: 0 !important;
				height: 153px !important;
				width: 153px !important;
				background-color: $light-grey;
				img {
					position: absolute;
					left: -100%;
					right: -100%;
					top: -100%;
					bottom: -100%;
					margin: auto !important;
					min-height: 100%;
					min-width: 100%;
					max-width: 100000000px !important;
				}
			}
		}
	}
	.instagram {
		hr {
			&:before {
				content: "\e602";
			}
		}
	}
	.tumblr {
		hr {
			&:before {
				content: "\e600";
			}
		}
	}
	.twitter {
		hr {
			&:before {
				content: "\e003";
			}
		}
	}
	.pinterest {
		hr {
			&:before {
				content: "\e00a";
			}
		}
		li.pins-feed-item {
			margin: 0 22px 0 0;
			&:nth-child(3){
				margin: 0 !important;
			}
		}

	}
}


/**
 * 3.4 Comments
 * ------------------------------------
 */

// Insert styles here


/**
 * 3.5 Lists
 * ------------------------------------
 */

// Insert styles here


/**
 * 3.6 Forms
 * ------------------------------------
 */

.join {
	div.small-6 {
		width: 48%;
	}
}

/**
 * 4.0 Plugins
 * ----------------------------------------------------------------------------
 */

// Insert styles here

#wpadminbar {
	@media #{$small-only} {
		top: -46px !important;
	}
}